.des{
  margin: 30px;
  margin-left: 40%;
}
.box{
  height: 300px;
  width: 90%;
  text-align: center;
}
button{
  margin-top:6%;
  line-height: 40px;
  width: 85px;
  border: solid black 2px;
  border-radius: 7px;
  background-color: rgb(138, 224, 195);
  font-size: larger;
}
button:hover{
  background-color: aqua;
  cursor: pointer;
  box-shadow:  0 4px 8px rgb(43, 41, 41);
  transition: 0.3s;
}